.form-box{
    padding: 40px; 
    margin-top: 30px; 
    margin-bottom: 20px;
    background: rgba(26, 27, 27, 0.95);
    text-align: center;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"],
.btn-submit{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #fff;
    width: 80%;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box .btn-submit{
    border: 0;
    background: #ff8008; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff8008, #ffc837); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff8008, #ffc837); 
    border: 2px solid #fff;
    cursor: pointer;
}


.form-box .btn-submit:hover{
    background: none;
    
}

h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.text-muted{
    width: 80%;
    text-align: center;
    margin: 10px auto;
}