<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 profile-background">
      <div class="profile-head">
        <div class="profile-head-info">
          <h1> tate no yuusha no nariagari </h1>
          <h4> <a href=""> @Usuario </a> </h4>
          <h4> PUNTOS : 8000 </h4>
        </div>
        <div class="img-profile">
          <img src="./assets/default/profile/no-image.png" class="img-fluid rounded-circle" alt="Responsive image">
        </div>
      </div>
    </div>
  </div>
  <div class="row profile-information flex-column-reverse flex-md-row">
    <div class="col-md-8 activity">
      <h4> ACTIVIDAD </h4>
      <div class="row">
        <div class="col-md-10 offset-md-1 release">
          <p>
            Excepteur est velit nostrud fugiat reprehenderit labore. Ex consectetur veniam sit excepteur quis dolore laboris officia culpa exercitation reprehenderit qui sit. Sint et consectetur magna aute velit nostrud dolor in minim pariatur anim. Excepteur velit cupidatat eiusmod ullamco quis aliqua cillum aliqua occaecat incididunt ut veniam do eiusmod. Reprehenderit Lorem cillum eiusmod laborum id ad fugiat id elit consequat minim dolor proident. Labore dolore irure anim labore nulla enim.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 release">
          <p>
            Labore officia qui ipsum cillum est officia. In pariatur dolor sit in. Qui dolore nisi deserunt ea. Cupidatat exercitation aliquip esse excepteur fugiat incididunt elit eu commodo officia aliquip.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 release">
          <p>
            Ut qui tempor nostrud quis et. Pariatur incididunt magna ad voluptate anim deserunt est deserunt veniam minim tempor qui voluptate. Sint reprehenderit mollit enim adipisicing in enim exercitation veniam. Incididunt nostrud aliquip quis proident sint. Aliquip nulla tempor velit minim pariatur velit ullamco anim sit elit.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 status">
      <h4> ESTADO </h4>
      RANGO PLATA <hr>
      NO-ACTIVADO <hr>
      ANTIGUEDAD 8 MESES <hr>
      800 ANIMES PUNTUADOS <hr>
      80 VIDEOS COMPARTIDOS
    </div>

  </div>
</div>