.card{
    -webkit-box-shadow: 2px 2px 26px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 26px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 26px -6px rgba(0,0,0,0.75);
    margin-bottom: 25px;
}