
.library-header{
    padding-bottom: 15px;
}

.library-header-btn{
    text-align: right;
    margin-bottom: 5px; 
}
.library-header-btn .btn-primary{
    border: 2px solid #ced4da !important;
}

.btn-light{
    border: 2px solid #1a1a1a !important;
}

.btn-back{
    border: 2px solid #000 !important;
}

.card{
    -webkit-box-shadow: 2px 2px 26px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 26px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 26px -6px rgba(0,0,0,0.75);
    margin-bottom: 25px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}


.card-body{
    background: #1a1a1a;
    color: #919aa1 !important;
}

.icons{
    color:  #e9edf1;
    position: absolute;
    margin-left: 25px;
    font-size: 20px;
    z-index: 2;
    text-align: center;
    width: 75%;
    cursor: pointer;
}

.icons-confirmation{
    position: absolute;
    margin-left: 2px; 
    font-size: 25px;
    z-index: 1;
    text-align: right;
    width: 90%;
}

.icons-confirmation .fa-check-circle{
    color: rgba(75, 191, 115, 0.75);
    text-shadow: 0 0 15px rgba(255,255,255,.75), 0 0 10px rgba(255,255,255,.75);
}

.icons-confirmation .fa-exclamation-triangle{
    color: rgba(253, 250, 63, 0.8);
    text-shadow: 0 0 15px rgba(255,255,255,.75), 0 0 10px rgba(255,255,255,.75);
}

.form-control{
    border: 2px solid #ced4da !important;
}

.fa-cogs:hover,
.fa-edit:hover{
    color: #1a1a1a;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.information-media{
    background: #1a1a1a;
    color: #919aa1 !important;
    -webkit-box-shadow: 2px 2px 26px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 26px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 26px -6px rgba(0,0,0,0.75);
}

.information-media h4{
    color: #919aa1 !important;
}

.references{
    margin-bottom: 10px !important;
}






@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.fa-circle-notch{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    color: #ccc;
    text-shadow: 0 0 15px rgba(255,255,255,.75), 0 0 10px rgba(255,255,255,.75);
}

.circle{
    position: absolute;
    color: #fff;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: -1;
}

.state-container-dropdown{
    position: absolute;
    z-index: 1;
    width: 95%;
    max-height: 300px;
    background: #f6f6f6;
    overflow-y: auto;
}

.state{
    padding: 10px;
}
.state a{
    font-family: sans-serif !important;
    color: #1F9BCF !important;
}

.state:hover{
    background: #c2c2c2;
}
