<div class="row library-header ">
    <div class="col-sm-12 w-100 library-header-btn">
        <button class="btn btn-primary" (click)="addMedia()" data-toggle="modal" data-target="#modalADD" > <i class="fas fa-cloud-upload-alt"></i> SUBIR </button>
        <button class="btn btn-primary"  data-toggle="modal" data-target="#modalCHAPTER" > <i class="fas fa-sync-alt"></i> </button>
    </div>
    <div class="col-sm-12 input-group">
        <input type="search" class="form-control" name="" placeholder="buscar un titulo en su libreria" >
        <button class="btn btn-light"> <i class="fas fa-search"></i> </button>
    </div>
</div>
<div class="row" *ngIf="mediaOption == 1">

  <div *ngFor="let library of dataMedia ; let i=index" class="col-sm-6 col-md-4">
        <div class="cardHover">
          <div class="icons">
            <i (click)="loadInformation(library)" data-toggle="modal" data-target="#modalINF"  class="fas fa-cogs" title="editar información"></i> | 
            <i  data-toggle="modal" data-target="#modalEMP"  class="fas fa-edit" title="editar video"></i>
          </div>
          <div class="icons-confirmation">
            <i *ngIf="changes == false" class="fas fa-check-circle"></i>
            <i *ngIf="changes == true" class="fas fa-exclamation-triangle"></i>
          </div>
        <div class="card">
          <img class="card-img-top img-fluid" [src]="library.miniature == '' ? '/assets/default/no-miniature.jpg' : library.miniature" alt="Card image cap">
          <div class="card-body">
          <p class="card-text"> {{ library.title }} </p>
          <button class="btn btn-light"> <i class="fas fa-save"></i> Guardar </button>
          </div>
        </div>
        </div>
  </div>


</div>

<div class="row information-media mb-4 m-0 py-4" *ngIf="mediaOption == 2">
  <div class="col-md-5 col-sm-6">
    <!-- <button (click)="backLibrary()" class="btn btn-light btn-back float-left mb-2"><i class="back fas fa-arrow-circle-left "></i> Atrás </button> -->
    <img class="card-img-top img-fluid img-thumbnail" [src]="singleMedia.miniature == '' ? '/assets/default/no-miniature.jpg' : singleMedia.miniature" alt="Card image cap">
  </div>
  <div class="col-md-7 col-sm-6 ">
    <h4> TITULO </h4>
  </div>
</div>




