<div id="modalADD" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row stepbar">
            <div class="col-md-12">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="fas fa-times-circle"></i>
                </button>
            </div>
            <div class="col-md-12">
              <ul class="progressbar">
                <li id="step1" class="active">paso 1</li>
                <li id="step2">paso 2</li>
                <li id="step3">paso 3</li>
              </ul>
            </div>
          </div>
          
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <p>{{ messageSuccess }}</p>
                  <button (click)="hideSuccessAlert()" type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="alert alert-danger fade show" role="alert">
                <button (click)="hideErrorAlert()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>{{ messageError }}</p>
            </div>
            </div>
        </div>

        <div class="modal-body">
            <div class="form-group" >
              <h4> titulo </h4>
              <input class="form-control form-search" type="search" [(ngModel)]="this.media.title" name="searchMedia" (click)="toggleDropDown()"  (input)="onChangeSearch()" autocomplete="off"> 
              <div (clickOutside)="onClickedOutside()" *ngIf="showDropDown" class="state-container-dropdown">
                  <div> 
                    <div (click)="sendMedia(option)" class="state" *ngFor="let option of dataSearch">
                      <a >{{ option.title }}</a>
                    </div>
                  </div>
                </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <input class="form-control" type="file" (change)="onFileSelected($event)">
                </div>
                <div class="col-sm-12">
                  <img class="img-fluid img-preview" [src]="urlSelectedFile" >
                  <small class="form-text text-muted text-justify">
                      Recuerde que la imagen no debe tener un peso mayor a 1 MB, sin importar las dimensiones originales la imagen será reajustada a un tamaño de 640 x 400, con el fin de evitar deformidades intente que las proporciones sean relacionales al tamaño final, el formato gif es aceptable mientras cumpla con las condiciones. 
                  </small>
                </div>
              </div>
              <h4> EPISODIOS totales </h4>
              <input class="form-control" type="number" [(ngModel)]="this.media.totalEpisodes" name="totalEpisodes"> 
              <br>
              <h4> Descripción </h4>
              <textarea class="form-control" [(ngModel)]="this.media.description" name="description" cols="30" rows="10"></textarea>
              <br>
              <h4> Estudio </h4>
              <input class="form-control" type="text" [(ngModel)]="this.media.studio" name="studio"> 
              <br>
              <h4> Fecha estreno </h4>
              <input class="form-control" [(ngModel)]="this.media.releaseDate" type="date" name="releaseDate">
              <br>
              <button class="btn btn-light float-right" (click)="saveMedia()"> <i class="fas fa-save"></i> Guardar </button>
            </div>
        </div>
      </div>
    </div>
</div>