<div id="modalCHAPTER" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row stepbar">
            <div class="col-md-12">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="fas fa-times-circle"></i>
                </button>
            </div>
          </div>
          
        </div>
        <div class="modal-body">
          <form>
            <div class="input-group">
              <input [(ngModel)]="references" class="form-control" type="text" name="preferences">
              <button class="btn btn-warning" (click)="addNoneData(this._general.processRepeatSimple(this._general.separateAndReplaceAndMinus(references)))"> Agregar </button>
            </div>
            <div class="row">
              <div *ngFor="let newCategory of NonedataPush; let j=index" class="col-xs-2">
                <button class="btn optionNew" value="newCategory">{{ newCategory.reference }} </button><i (click)="deleteNoneData(j)" class="delete fas fa-times-circle"></i>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>